.container {
  margin: 50px auto;
  width: 250px;
}

.card__item {
  border: 1px solid #ccc;
  color: #111;
  display: block;
  font-size: 20px;
  margin: 10px 0;
  padding: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.card__item:hover {
  background-color: #eee;
}

.card__button:first-of-type {
  margin: 10px;
}
