body {
  margin: 0;
}

.page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box {
  display: flex;
  flex-direction: column;
}

.weather-button {
  display: block;
  margin: 20px auto 0;
}

.temp {
  padding: 20px;
  text-align: center;
}
